.form {
  width: 250px;
  height: 200px;
  border: 2px solid rgb(13, 78, 232);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
}
.name {
  margin: 5px 20px;
  font-weight: 700;
}
.input {
  margin-bottom: 20px;
  margin-left: 10px;
}
.btn {
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: 600;
  color: #fff;
  background: rgb(109, 147, 235);
  padding: 5px 10px;
  border-radius: 5px;
}
.btn:hover,
.btn:focus {
  background: rgb(88, 229, 124);
}
