.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}
.btn {
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  font-weight: 600;
  color: #fff;
  background: rgb(109, 147, 235);
  padding: 5px 10px;
  border-radius: 5px;
}
.btn:hover,
.btn:focus {
  background: rgb(88, 229, 124);
}
